
.post-enter {
    transform: scale(1);
    /* opacity: 0; */
    transition: .3s ease-in;
  }
.post-enter-active {
    transform: scale(1);
    transition: .3s ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: scale(0);
    transition: .3s ease-in;
}

.pagWrap {
    text-align: center;
    margin-top: 50px;
}

